/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

 */


body {
  font-family: sans-serif;
  padding: 2rem;
  background: #f9f9f9;
}

input,
button {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

ul {
  padding-left: 1.5rem;
}